@font-face {
   font-family: 'Trinidad Neue Bold';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-10-07_131107/fonts/Trinidad%20Neue%20Bold/font.ttf');
}
